.wrapper {
    width: 100%;
    margin-top: 36px;
    padding: 0 12px;
    display: flex;
    height: 500px;
    min-height: 500px;
}

.container-left {
    width: 50%;
    height: 100%;
}

.quiz-question {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 10px 12px rgb(117, 223, 117);
    display: flex;
    align-items: center;
    // justify-content: center;
    flex-direction: column;
}

.question {
    background-color: red;
    padding: 32px 24px;
    width: 90%;
    margin-top: 24px;
    border-radius: 24px;
}

.question-inp {
    font-size: 2.4rem;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.answer-container {
    margin-top: 64px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.answer-item {
    width: 25%;
    height: 150px;
    margin: 0 8px;
    border-radius: 12px;
    position: relative;
}

.answer-item-inp {
    width: 90%;
    resize: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: transparent;
    color: #000;
}

.container-right {
    width: 50%;
    margin-left: 24px;
}

.cnt-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    min-height: 200px;
}

.cnt-question-title {
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.cnt-question-container {
    flex: 1;
    border: 2px solid red;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
}

.cnt-question-item {
    --size: 28px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    cursor: pointer;
    background-color: red;
    color: #fff;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.list-btn {
    margin-top: 48px;
    width: 100%;
    height: 160px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}

.btn {
    min-width: 150px;
    padding: 12px !important;
    font-size: 1.8rem !important;
    font-weight: 700 !important; 
    margin-bottom: 12px;
}

.btn-correct {
    --size: 22px;
    width: var(--size);
    height: var(--size);
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 700;
    transition: all .3s;
    cursor: pointer;

    &.active {
        background-color: red;
        color: white;
    }
}
